* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: #00000088;
  background-color: #fff;
}

.section-top {
  width: 100%;
  height: 100vh;
  position: relative;
  cursor: pointer;
}

.ctn {
  position: absolute;
  top: 30%;
  left: 37%;
  transform: translate(-50%);
}

.pic-ctn {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 100px;
}

img {
  width: 100%;
  height: auto;
}

/* .tp-ctn{
  position: relative;
} */

.year {
  position: absolute;
  top: 15px;
  right: 0;
  background-color: #00000088;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}

.portfolio {
  font-size: 10em;
  color: #00000088;
}

.click {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  background-color: blue;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

@media (max-width:600px) {
  .ctn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  .portfolio {
    font-size: 5em;
  }

  .pic-ctn {
    top: -10px;
    left: 0;
    width: 100px;
  }

  .year {
    top: -10px;
    font-size: 14px;
  }

  .click {
    padding: 7px 10px;
    font-size: 0.8em;
  }
}

@media (min-width:600px) and (max-width:800px) {
  .ctn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
  }

  .portfolio {
    font-size: 7em;
  }

  .year {
    top: 10px;
    font-size: 13px;
  }

  .click {
    padding: 7px 10px;
    font-size: 1em;
  }
}